[Unit]
Description=Run System Report every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=system-report.service

[Install]
WantedBy=timers.target
